@import "variables.scss";
@import "mixin.scss";


.exel__formula
{
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    border-bottom: 1px solid lightgray;

    .furmula-simbol
    {
        width: 55px;
        height: 20px;
        border-right: 1px solid lightgray;

        @include centeredFlex;

        i
        {
            color: silver;
        }
    }
    .furmula-input
    {
        width: 100%;
        height: 100%;
        outline: none;
        padding-left: 10px;

        @include centeredFlex;
    }
}